# switch auto reload on for all Intershop artifacts
intershop.extensions.CheckSource=true
intershop.queries.CheckSource=true
intershop.pipelines.CheckSource=true
intershop.pagelets.CheckSource=true
intershop.webforms.CheckSource=true
intershop.template.CheckSource=true
intershop.template.CheckSourceModified=true
intershop.template.isfilebundle.CheckSource=true
intershop.template.isfilebundle.Process=true
intershop.template.isfilebundle.Combine=true
intershop.urlrewrite.CheckSource=true
intershop.template.isfilebundle.jsprocessor=yui

# switch all preload functionality off
intershop.pipelines.PreloadFromCartridges=
intershop.pipelines.PreloadFromSites=
intershop.pipelets.PreloadFromCartridges=
intershop.template.CompileOnStartup=false
intershop.webforms.Preload=false
intershop.queries.Preload=false

# use strict modes in pipeline engine
intershop.pipelines.strict.CheckParameterTypes=true
intershop.pipelets.OnLoadError=Exception

# switch all runtime sensors on
intershop.monitoring.requests=true
intershop.monitoring.pipelines=true
intershop.monitoring.pipelets=true
intershop.monitoring.pipelinenodes=true
intershop.monitoring.templates=true
intershop.monitoring.queries=true
intershop.monitoring.sql=true
intershop.monitoring.class=true
intershop.monitoring.maxSensors=100000

# developer's helpers
intershop.template.PrintTemplateName=true
intershop.template.PrintTemplateMarker=true
intershop.session.TimeOut=300
intershop.CSRFGuard.allowRecovery=true
intershop.cpu.id=8

# Mail integration
mail.smtp.host=localhost
mail.smtp.port=1025

# Solr replication factor
solr.collectionReplicationFactor = 1

staging.system.type=edit
intershop.auditing.enable=false
intershop.servletEngine.connector.address=127.0.0.1

SecureAccessOnly = true
intershop.apitoken.cookie.enabled = true
intershop.apitoken.cookie.sslmode = true
intershop.apitoken.cookie.name = mf
intershop.apitoken.cookie.sslmode = true

# intershop.session.securetoken.cookie.name=bla
intershop.WebServerSecureURL=https://jmetznernb.jometzner.de:9443
# intershop.cartridges.rest.tokenKind=JWT


intershop.jdbc.connectionCacheMaxLimit = 200
