serverDirectory={{ server }}
development.properties={{ developer }}/development.properties
buildEnvironmentProperties={{ developer }}/environment.properties
developmentEnvironmentProperties={{ developer }}/environment.properties
