version: "3.7"
services:
  solr:
    image: solr:8
    container_name: solr{{ instanceId }}
    ports:
      - "127.0.0.1:8981:8983"
      - "127.0.0.1:9981:9983"
    volumes:
      - solr{{ instanceId }}_data:/var/solr
    command:
      - "solr"
      - "start"
      - "-f"
      - "-cloud"
      - "-h"
      - "{{ host }}"
      - "-a"
      - "-Dsolr.disableConfigSetsCreateAuthChecks=true"
      - "-Djute.maxbuffer=2097152"


  db:
    build:
      context: {{ workdir }}/.dotfiles/docker/{{ databaseType }}
    container_name: {{ databaseType }}{{ instanceId }}
    hostname: {{ databaseType }}{% if databaseType == "mssql" %}
    ports:
      - 127.0.0.1:1433:1433{% else %}
    ports:
      - 127.0.0.1:1521:1521
      - 127.0.0.1:5500:5500{% endif %}
    environment:
      ACCEPT_EULA: "yes"{% if databaseType == "mssql" %}
    volumes:
      - icm_db_mssql{{ instanceId }}:/var/opt/mssql{% endif %}

  mail:
    image: mailhog/mailhog
    container_name: mailhog
    ports:
      - 127.0.0.1:1025:1025
      - 127.0.0.1:8025:8025

volumes:
  icm_db_mssql{{ instanceId }}:
  solr{{ instanceId }}_data:
